@import url(colors.css);
@import url(positions.css);

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.board {
  position: relative;
}

.platform {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
  gap: 7px;
  max-width: 500px;
  background-color: azure;
  padding: 10px;
}

.cell {
  background: gray;
  border-radius: 5px;
}

#cube {
  position: absolute;
  left: 10px;
  top: 10px;
}
